<div id = "top-nav">
      <a class="div-header" href="#!/dash">Dashboard</a> | <a class="div-header" href="#!/products">Products</a> |  <a class="div-header" href="#!/orders">Orders</a> |  <a class="div-header" href="#!/customers">Customers</a> | <a class="div-header" href="#!/">Logout</a> 
</div>



<div id="filter-nav">
  <input id="filter-box" type="text" ng-model="search" placeholder="search product...">
  <p class="underline-text">Add a new product</p>

  <form name='productForm' ng-submit="addProduct()" id="prod-form">
      <label class="form-label">
        Name: <input name="name" class="name-text" type="text" ng-model="newProduct.name" placeholder="name..." ng-minlength='1' required>
      </label>
      <label class="form-label">
        Image (url): <input name="image_url" class="name-text" type="text" ng-model="newProduct.image_url" placeholder="http://" ng-minlength='7' required>
      </label>
      <label class="form-label">
        Description: <textarea name="description" class="name-text" ng-model="newProduct.description" required></textarea>
      </label>
      <label class="form-label">
        Initial Quantity:
        <select id="option-box" ng-model="newProduct.quantity" name="quantity" required>
          <option class="option-text" value="10">10</option>
          <option class="option-text" value="20">20</option>
          <option class="option-text" value="30">30</option>
          <option class="option-text" value="40">40</option>
          <option class="option-text" value="50">50</option>
          <option class="option-text" value="60">60</option>
          <option class="option-text" value="70">70</option>
          <option class="option-text" value="80">80</option>
          <option class="option-text" value="90">90</option>
          <option class="option-text" value="100">100</option>
        </select>

      </label>

      <input class="btn btn-primary" type="submit" value="Create">
    </form>

    <div style="margin-top: 20px" ng-messages="productForm.name.$error">
        <p style="color: red" ng-message="minlength">Name is too short.</p>
        <p style="color: red" ng-message="required">Name is required.</p>
    </div> 
     <div ng-messages="productForm.image_url.$error">
        <p style="color: red" ng-message="minlength">Url is too short</p>
        <p style="color: red" ng-message="required">Image URL is required.</p>
    </div> 
    <div ng-messages="productForm.description.$error">
        <p style="color: red" ng-message="required">Product description is required.</p>
    </div>
    <div ng-messages="productForm.quantity.$error">
        <p style="color: red" ng-message="required">Product quantity is required.</p>
    </div>


</div>

<div class="container" id="dash-box">

 	<div class="row">
	    <div class="prod-box" class="col-md-2 col-sm-2" ng-repeat="product in products | filter: {name: search} as results">
	    	<div>
	    		<img ng-src="{{product.image_url}}" img ng-show="product.image_url !== undefined" alt="Image of product.." class="thumb-nail">
	    	</div>
	    	<div class="prod-text">
	    		<p>{{product.name}}</p>
	    		<p>(<span style="color: blue; font-weight: bold">{{product.quantity}}</span> left)</p>
	    		<button type="button" class="btn btn-danger" ng-click='deleteProduct(product._id)'>Delete</button>
	   		</div>
	    </div>

      <strong style="color: red; margin-left: 50px" ng-if="results.length === 0 ">No results found...</strong>
	</div>

</div>
 
